{% extends "base.html" %}

{% block title %}
Bookstore || all-books
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <h1 class="my-4 text-muted text-center">All Books</h1>
    <div class="d-flex justify-content-end">
      <a href="#" class="btn btn-warning">Add Book</a>
    </div>

    <!-- table to show the content of book  -->
    <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image Url</th>
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Instock</th>
            <th scope="col">Published date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td >{{book.name}}</td>
                <td >
                    <img src="{{ book.imageUrl}}" alt="{{book.name}}" height="100px" width="100px">
                </td>
                <td >{{book.description}}</td>
                <td >{{book.author}}</td>
                <td >{{book.price}}</td>
                <td >{% if book.instock %} In stock {% else %} Out of Stock {% endif %}</td>
                <td >{{book.published_date}}</td>
                <td>
                  <a href="#" class="btn btn-primary">Edit</a>&nbsp;&nbsp;
                  <a href="#" class="btn btn-danger">Delete</a>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    
</div>
{% endblock %}